@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  section, main {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .snap-container {
    scroll-snap-type: y mandatory;
  }
  
  .snap-container {
    scroll-snap-type: y proximity;
  }